
/* H-tags */
#title {
  color: darkolivegreen;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  background-color: beige;
  border-color: gray;
  border-style: dotted;
  font-style: italic;
  background-color: beige;
  border-radius: 200px;
}

#subtitle {
  color: darkolivegreen;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  background-color: beige;
  border-color: gray;
  border-style: dotted;
  font-style: italic;
  background-color: beige;
  display: inline-block;
  border-radius: 200px;
}



/* Search Div */
#search {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Search Box */
#search-box{
  padding: 20px;
}
/* Search Box Input */
input {
  border-radius: 10px;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  background-color: beige;
}

/* Search Button */
#submitbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: none;
}

/* All Buttons */
button {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 25px;
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

}

/** Filter Search Button Dropdown **/

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Main Display */
#container {
  color: rgb(99, 99, 99);
  margin: auto;
  width: 60%;
  height:60%;
  padding: 10px;
  text-align: center;
}

#div-flag, #main-info {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#display {
  background-color: beige;
  border-color: gray;
  border-style: dotted;
  border-radius: 50px;
  margin: 40px;
  display: inline-block;
  box-sizing: border-box;
}

#main-info {
  text-align: center;
  flex:auto;
  float:right;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  justify-content: center;
}

#main-flag {
  float: left;
  font-size: 200px;
  padding: 0;
  margin: 0;
}


/* Country Card */

card {
  background-color: beige;
  border-color: gray;
  border-style: dotted;
  border-radius: 50px;
  border-width: 2px;
  text-align: center;
  inline-size: 150px;
  overflow-wrap: break-word;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flexbox;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#flag-emoji {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#list {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
  }
  


/* hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  /*z-index: 1;*/
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e50;}

/* Travel and Been Lists */

#travel-lists, #been-lists {
  display: inline-block;
  background-color: beige;
  border-color: gray;
  border-style: dotted;
  border-radius: 50px;
  margin: 40px;
  text-align:justify;
}

#travel-lists {
  float: left;
}

#been-lists {
  float:right;
}


