body {
    background-color: #BBCEFF;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#search {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

card {
  background-color: beige;
  border: black;
  border-style: dotted;
  border-width: 2px;
  text-align: center;
  inline-size: 150px;
  overflow-wrap: break-word;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flexbox;
  cursor: pointer;
}

#flag-emoji {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#div-flag, #main-info {
  display: inline-block
}

#div-flag {
  padding: 0;
  margin: 0;
}

#main-info {
  text-align: center;
  flex:auto;
  float:right;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  justify-content: center;
}

#main-flag {
  float: left;
  font-size: 200px;
  padding: 0;
  margin: 0;
}

#display {
  background-color: beige;
  border-color: black;
  border-style: dashed;
  margin: 40px;
  display: inline-block;
}

#search-box{
  padding: 20px;
}

input {
  border-radius: 10px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#list {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  /*z-index: 1;*/
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e50;}


